.container{
  display: flex;

  justify-content: center;
}


h1 {

  letter-spacing: 2px;

  font-size: 30px;

  text-transform: uppercase;

}

h2 {

  font-size: 22px;

  letter-spacing: 2px;

  text-transform: uppercase;

  color: #003b58

}


button {

  background: none;

  border: none;

  font-size: 15px;

  color: #0071c2

}





.btn {

  display: flex;

  justify-content: space-evenly;

  background-color: none;

  color: #fff;

  padding: 10px;

  border: 1px solid black;

  text-transform: uppercase;


}


