.container{
  display: flex;

  justify-content: center;
  background-color: #FBFACD;
}


h1 {

  letter-spacing: 2px;

  font-size: 30px;

  text-transform: uppercase;

  color: #3B3486;

}

h2 {

  font-size: 22px;

  letter-spacing: 2px;

  text-transform: uppercase;

  color: #3B3486;
}


button {
  border: none;
  font-size: 15px;
  background-color: #FBFACD;
   
}

.btn {

  display: flex;

  justify-content: space-evenly;

  background-color: none;

  color: #fff;

  padding: 10px;

  text-transform: uppercase;

}



.prevNext{
  background: #BA94D1;

  color: white;

  border: 1px solid white;
}

.next{
  width: 60px;
}

.showmore{
  color: #3B3486;
}




@media(max-width: 500px){
  h1 {

    letter-spacing: 1px;
  
    font-size: 20px;
    text-align: center;
  }

  .description{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }


  button {
    font-size: 10px;
    
  }


  .btn {
  
    padding: 5px;
    
  }
  }